table {
    width: 75%;
    min-width: 800px;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.laborer {
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    gap: 32px;
}

.fieldRow {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 16px;
}

.label {
    text-transform: uppercase;
    font-weight: 600;
}

.value {
    font-weight: 400;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.button {
    background-color: black;
    color: white;
    padding: 10px 24px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.tag {
    display: block;
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
    text-align: center
}

.tag.user {
    background-color: green;
}

.tag.admin {
    background-color: yellow;
}

.tag.supervisor {
    background-color: red;
}


.imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageWrapper img{
    width: 300px;
    height: 300px;
    object-fit: contain
}

.laborerCMSDetail {
    margin: auto;
    width: 200px;
    color: white;
    background-color: black;
    text-align: center; 
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; 
}

.danger {
    background-color: yellow;
    color: orangered;
    font-size: 18px;
    margin: 0;
    padding: 10px 20px;
    white-space: nowrap;
}

.headerContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 75%;
    min-width: 800px;
    margin: 20px auto;
}

.createLaborer {
    background-color: black;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}